<!--underscore name of file to know this is a partial file not an actualy file being rendered from server-->


<label>Name</label>
<input  type="text" name="name" value ="<%= author.name %>">  <!--creates a text input the input will be under name format so when we call body.name it will use the input on our server-->
                                        <!--the equal sign essential tells the server to create whatever text you got from inside percentage function output that as html to page in this case it outputs our authors name authros.name --> 